@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #131722;
  color: #D1D4DC;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cursor-crosshair {
  cursor: crosshair;
}
